$border-color-generic: var(--color-border);
$border-style-generic: solid;
$border-width-generic: 1px;

$border-generic: $border-color-generic $border-style-generic $border-width-generic;
$border-radius-generic: $spacer-2;
