@use 'sass:math';
@use './transition' as *;

$a11y-box-shadow-width: $spacer-2;

$alert-padding-x: $spacer-global;
$alert-padding-y: $spacer-4;

$box-padding-x: $spacer-4;
$box-padding-y: $spacer-3;

$collapsible-padding-x: $spacer-global;
$collapsible-padding-y: $spacer-4;

$container-padding: $spacer-global;

$link-icon-spacing: $spacer-3;
$link-padding: $spacer-2;

$list-spaced-margin-y: $spacer-global;

$loading-spinner-size: 1rem;

$map-diagram-padding: $spacer-global;
$map-line-width: $spacer-4;
$map-list-item-min-height: 5rem; // Arbitrary figure
$map-list-item-min-height--desktop: 6rem; // Arbitrary figure
$map-list-item-only-of-type-min-height--desktop: 12rem; // Allow for potential 'Zones X & Y' text
$map-marker-height--regular: $map-line-width;
$map-marker-interchange-border-width: 0.36rem;
$map-marker-size--interchange: 2.2rem; // Somewhere between $spacer-6 and $spacer-7
$map-marker-width--regular: $spacer-4;
$map-spacing: math.div($map-marker-size--interchange, 4) * 3;
$map-spacing-mobile: $map-marker-size--interchange;
$map-zone-padding-x-mobile: $spacer-4;
$map-zone-padding-y-mobile: 0.35rem; // Somewhere between $spacer-2 and $spacer-3
$map-zone-size-tablet: 2rem;

$navigation-primary-link-margin-y: $spacer-4;
$navigation-primary-link-padding-x: $spacer-4;
$navigation-primary-link-padding-y: $spacer-3;

$scrollbar-size-inner: math.div($container-padding, 3);
$scrollbar-size-outer: $container-padding;

$select-arrow-background-size: 0.75rem; // Somewhere between $spacer-4 and $spacer-5

$services-table-padding-x: $spacer-5;
$services-table-padding-y: $spacer-3;

$settings-theme-list-border-width: 3px;
$settings-theme-list-item-height: 3rem;
$settings-theme-list-item-border-radius: math.div($settings-theme-list-item-height, 2);
$settings-theme-list-border-radius: calc($settings-theme-list-item-border-radius + ($settings-theme-list-border-width * 2));

$station-item-padding-y: $spacer-3;

$table-padding-x: $spacer-5;
$table-padding-y: $spacer-3;

$toggles-list-item-margin-bottom: $spacer-3;

$toggle-switch-height: $spacer-5;
$toggle-switch-width: $toggle-switch-height * 2;
$toggle-switch-border-radius: math.div($toggle-switch-height, 2);
