$container-padding-x: $spacer-5;

$home-table-padding-x: $spacer-5;
$home-table-padding-y: $spacer-3;

$loading-icon-size: 5rem;

$navigation-header-link-margin-y: $spacer-4;
$navigation-header-link-padding-x: $spacer-4;
$navigation-header-link-padding-y: $spacer-3;

$navigation-menu-link-padding: $spacer-2;
