.alert {
  margin: $spacer-global;
  padding: $spacer-4 $spacer-global;
  border-radius: $border-radius-generic;

  &--error {
    color: $color-tfl-white;
    background-color: $color-state-error;
  }

  &--info {
    color: $color-tfl-white;
    background-color: $color-state-info;
  }
}
