.alert {
  margin: $spacer-global;
  padding: $spacer-4 $spacer-global;
  border-radius: $border-radius-generic;

  &--error {
    color: var(--color-alert-error-text);
    background-color: var(--color-alert-error-background);
  }

  &--info {
    color: var(--color-alert-info-text);
    background-color: var(--color-alert-info-background);
  }
}
