.alert {
  margin-bottom: $spacer-global;
  padding: $alert-padding-y $alert-padding-x;
  border-radius: $border-radius-generic;

  &--error {
    color: var(--color-alert-error-text);
    background-color: var(--color-alert-error-background);
  }

  &--info {
    color: var(--color-alert-info-text);
    background-color: var(--color-alert-info-background);
  }
}
