.back-to {
  margin-top: auto; // Send to bottom of flex container
}

.back-to__link {
  display: inline-flex;
  align-items: center;
  margin-left: $size-link-padding * -1;
  padding: $size-link-padding;
  font-size: $font-size-small;
}

.back-to__icon {
  margin-right: $size-link-icon-spacing;
}
