.box {
  padding: $spacer-3 $spacer-4;
  color: var(--color-box-text);
  background-color: var(--color-box-background);
  border-radius: $border-radius-generic;

  &:not(:first-of-type) {
    margin-top: $spacer-4;
  }

  &:first-of-type {
    .view--services & {
      margin-top: $services-table-padding-y;

      @include device-min(tablet) {
        margin-top: $spacer-5;
      }
    }
  }
}
