.container {
  max-width: $device-desktop;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding-x;
  padding-right: $container-padding-x;
}

@include device-max(tablet) {
  .container {
    .page__main .view--home & {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
