.interchange__line {
  // `border-color` value = `.brand-background--id-xxx` or `.brand-background--mode-xxx`
  border-style: $border-style-generic;
  border-width: $border-width-generic;

  .interchanges__list-item--extra .interchange__lines-list-item:not(:last-child) &{
    border-bottom-width: 0; // Collapse borders when there are multiple items attributed to a station
  }
}

.interchange__lines-list {
  @extend %list-unstyled;

  .map__interchanges & {
    width: 8rem; // Arbitrary figure - very small phones only

    @include device-min(mobile) {
      width: 10rem; // Arbitrary figure
    }

    @include device-min(desktop) {
      width: 12rem; // Arbitrary figure
    }
  }

  .interchanges__list-item:not(:last-of-type) & {
    margin-bottom: $spacer-1;
  }
}

.interchange__lines-list-item {
  text-align: center;
}

.interchange__link {
  position: relative; // Required for `hover-highlight()`
  color: inherit;
  text-decoration: none;
  line-height: 1.35; // Arbitrary figure but makes for better multi-line presentation

  .view--service & {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $size-interchange-link-view-service-padding-y $size-interchange-link-view-service-padding-x;
  }

  .view--station & {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    min-height: $size-interchange-link-view-station-min-height;
    padding: $size-interchange-link-view-station-padding;
  }

  &:active,
  &:focus,
  &:hover {
    @include hover-highlight();

    color: inherit;
    text-decoration: none;
  }
}

.interchange__text {
  .view--station & {
    grid-column: 2;
    margin-left: $spacer-global;
    margin-right: $spacer-global;
  }
}

.interchange__icon { // Used for airport connections
  color: var(--color-map-interchange-icon);
  margin-right: $spacer-3;
}

.interchange__label {
  display: block;
  font-size: $font-size-tiny;
}

.interchange__accessibility-list {
  @extend %list-unstyled;

  display: flex;
  margin-left: auto; // Send to right
}

.interchange__accessibility-list-item {
  &:not(:first-child) {
    margin-left: $spacer-2;
  }
}

.interchange__accessibility-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $size-map-marker--accessibility;
  height: $size-map-marker--accessibility;
  background-color: var(--color-map-interchange-background);
  border-color: var(--color-map-interchange-border);
  border-radius: 50%;
  border-style: $border-style-generic;
  border-width: $size-map-marker-accessibility-border-width;

  &--platform {
    color: var(--color-map-accessibility-platform-icon);
    background-color: var(--color-map-accessibility-platform-background);
    border-color: var(--color-map-accessibility-platform-border);
  }

  &--train {
    color: var(--color-map-accessibility-train-icon);
    background-color: var(--color-map-accessibility-train-background);
    border-color: var(--color-map-accessibility-train-border);
  }

  .station-icon {
    width: $size-map-marker-accessibility-icon;
    height: $size-map-marker-accessibility-icon;
  }
}
