$loading-spinner-animation-delay: -0.16s;
$loading-spinner-animation-duration: 1.8s;

@media (prefers-reduced-motion: no-preference) {
  .loading-spinner,
  .loading-spinner::before,
  .loading-spinner::after {
    width: $size-loading-spinner;
    height: $size-loading-spinner;
    border-radius: 50%;
    animation: loading-spinner 1.8s infinite ease-in-out both;
  }

  .loading-spinner {
    position: relative;
    transform: translateY($size-loading-spinner * -1);
    animation-delay: $loading-spinner-animation-delay;

    .ptr__loader & { // Pull to refresh
      margin-top: $spacer-global;
      margin-left: auto;
      margin-right: auto;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
    }

    &::before {
      left: $size-loading-spinner * -1.5;
      animation-delay: $loading-spinner-animation-delay * 2;
    }

    &::after {
      left: $size-loading-spinner * 1.5;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .loading-spinner {
    &::before {
      content: 'Loading...';
    }

    .ptr__loader & { // Pull to refresh
      margin-top: $size-pull-to-refresh-message-margin-top;
    }
  }
}
