@use 'sass:math';

.map {
  margin-top: $spacer-global;
}

.map__toggles-list {
  @extend %list-unstyled;

  margin-bottom: $spacer-global;
}

.map__diagram {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 10rem; // Arbitrary figure to accommodate loading spinner
  padding: $spacer-global;
  font-size: 0.75em; // Very small phones only
  background-color: var(--color-map-diagram-background);
  border: $border-generic;

  @include device-min(mobile) {
    font-size: 1em;
  }
}

.map__list {
  @extend %list-unstyled;

  width: 100%;
}

.map__list-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: $map-list-item-min-height;

  @include device-min(desktop) {
    min-height: $map-list-item-min-height--desktop;
  }
}

.map__ornaments {
  order: 2;
  position: absolute;
  top: 0;
  width: $map-marker-size--interchange;
  height: 100%;
}

.map__line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: $map-line-width;
  height: 100%;

  .map__list-item:first-of-type &,
  .map__list-item:last-of-type & {
    &::after { // Mask to hide first and last station overrun
      content: '';
      display: block;
      position: absolute;
      left: -50%;
      width: $map-line-width * 2;
      height: calc(50% - #{math.div($map-marker-height--regular, 2)});
      background-color: var(--color-map-diagram-background);;
    }
  }

  .map__list-item:first-of-type & {
    &::after {
      top: 0;
    }
  }

  .map__list-item:last-of-type & {
    &::after {
      bottom: 0;
    }
  }
}

.map__station,
.map__interchanges {
  display: flex;
  align-items: center;
  width: 50%; // `.map__ornaments` effectively has a width of `0` as it's absolutely positioned
}

.map__station {
  order: 3;
  left: 100%;
  padding-left: $map-spacing; // Very small phones only
  color: var(--color-map-station-text);

  @include device-min(mobile) {
    padding-left: $map-spacing-mobile;
  }
}

.map__station-link {
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.map__icon {
  transform: translateY(-0.05rem); // Minor adjustment to better align icons with text

  @include device-min(desktop) {
    transform: translateY(-0.1rem); // Minor adjustment to better align icons with text
  }

  &--international-rail,
  &--national-rail,
  &--warning {
    margin-left: $spacer-3;
    flex-shrink: 0;
  }
}

.map__marker {
  z-index: 1; // Position above first and last station mask
  position: absolute;
  top: 50%;
  left: 50%;

  &--interchange {
    width: $map-marker-size--interchange;
    height: $map-marker-size--interchange;
    background-color: $color-tfl-white;
    border-color: $color-tfl-black;
    border-radius: 50%;
    border-style: $border-style-generic;
    border-width: $map-marker-interchange-border-width;
    transform: translate(-50%, -50%);
  }

  &--regular {
    width: $map-marker-width--regular;
    height: $map-marker-height--regular;
    transform: translate(calc(50% - 0.1rem), -50%); // `0.1rem` prevents potential gap between line and marker
  }
}

.map__interchanges {
  order: 1;
  justify-content: flex-end;
  margin-top: $spacer-3; // Ensure adjacent station interchanges never touch
  margin-bottom: $spacer-3; // Ensure adjacent station interchanges never touch
  padding-right: $map-spacing; // Very small phones only

  @include device-min(mobile) {
    padding-right: $map-spacing-mobile;
  }

  .map__list-item:first-of-type & {
    margin-top: 0;
  }

  .map__list-item:last-of-type & {
    margin-bottom: 0;
  }
}
