@use 'sass:math';

.map-settings {
  .map__settings & {
    margin-top: $spacer-global;
    padding: $size-collapsible-padding-x;
    background-color: var(--color-map-settings-background);
    border-radius: $border-radius-generic;
  }
}

.map-settings__toggles-list {
  @extend %bordered-box;
  @extend %list-unstyled;

  margin-bottom: $spacer-global;
}

.map-settings__toggles-list-item {
  &:not(:last-of-type) {
    margin-bottom: $size-toggles-list-item-margin-bottom;
  }
}
