@use 'sass:math';

.map {
  margin-top: $spacer-global;
}

.map__toggles-list {
  @extend %list-unstyled;

  margin-bottom: $spacer-global;
}

.map__diagram {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 10rem; // Arbitrary figure to accommodate loading spinner
  padding: $map-diagram-padding;
  font-size: 0.75em; // Very small phones only
  line-height: 1;
  background-color: var(--color-map-diagram-background);
  border: $border-generic;

  @include device-min(mobile) {
    font-size: 1em;
  }
}

.map__station-list,
.map__zone-list {
  @extend %list-unstyled;

  width: 100%;
}

.map__zone-list-item {
  position: relative;

  &:not(:last-of-type) {
    &::after { // Zone dividing line
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      height: $border-width-generic;
      background-color: $border-color-generic;
    }
  }
}

.map__zone {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;

  @include device-max(mobile) {
    height: $map-zone-size-mobile;
    padding-right: $spacer-4;
    background-color: $border-color-generic;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: math.div($map-zone-size-mobile, 2);
      border-color: $border-color-generic $border-color-generic transparent transparent;
    }
  }

  @include device-min(tablet) {
    top: $border-width-generic;
    width: $map-zone-size-tablet;
    height: calc(100% - #{$border-width-generic});
    background-color: var(--color-map-zone-background-desktop);

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: math.div($map-zone-size-tablet, 2);
    }

    &::before {
      top: 0;
      border-color: var(--color-map-diagram-background) transparent transparent var(--color-map-diagram-background);
    }

    &::after {
      bottom: 0;
      border-color: transparent transparent var(--color-map-diagram-background) var(--color-map-diagram-background);
    }
  }
}

.map__zone-text {
  @include device-max(mobile) {
    color: var(--color-map-zone-text-mobile);
  }

  @include device-min(tablet) {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-map-zone-text-tablet);
    white-space: nowrap;
    transform-origin: center center;
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.map__station-list-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: $map-list-item-min-height;

  @include device-min(tablet) {
    min-height: $map-list-item-min-height--desktop;

    &:only-of-type {
      min-height: $map-list-item-only-of-type-min-height--desktop;
    }
  }
}

.map__ornaments {
  order: 2;
  position: absolute;
  top: 0;
  width: $map-marker-size--interchange;
  height: 100%;
}

.map__line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: $map-line-width;
  height: 100%;

  .map__zone-list-item:first-of-type .map__station-list-item:first-of-type &,
  .map__zone-list-item:last-of-type .map__station-list-item:last-of-type & {
    &::after { // Mask to hide first and last station overrun
      content: '';
      display: block;
      position: absolute;
      left: -50%;
      width: $map-line-width * 2;
      height: calc(50% - #{math.div($map-marker-height--regular, 2)});
      background-color: var(--color-map-diagram-background);;
    }
  }

  .map__zone-list-item:first-of-type .map__station-list-item:first-of-type & {
    &::after {
      top: 0;
    }
  }

  .map__zone-list-item:last-of-type .map__station-list-item:last-of-type & {
    &::after {
      bottom: 0;
    }
  }
}

.map__station,
.map__interchanges {
  display: flex;
  align-items: center;
  width: 50%; // `.map__ornaments` effectively has a width of `0` as it's absolutely positioned
}

.map__station {
  position: relative; // Required to increase clickable area of `.map__station-link`
  order: 3;
  padding-left: $map-spacing; // Very small phones only
  color: var(--color-map-station-text);

  @include device-min(mobile) {
    padding-left: $map-spacing-mobile;
  }

  @include device-min(tablet) {
    padding-right: $map-diagram-padding + $map-zone-size-tablet;
  }
}

.map__station-link {
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.map__icon {
  &--international-rail,
  &--national-rail,
  &--warning {
    margin-left: $spacer-3;
    flex-shrink: 0;
  }
}

.map__marker {
  z-index: 1; // Position above first and last station mask
  position: absolute;
  top: 50%;
  left: 50%;

  &--interchange {
    width: $map-marker-size--interchange;
    height: $map-marker-size--interchange;
    background-color: $color-tfl-white;
    border-color: $color-tfl-black;
    border-radius: 50%;
    border-style: $border-style-generic;
    border-width: $map-marker-interchange-border-width;
    transform: translate(-50%, -50%);
  }

  &--regular {
    width: $map-marker-width--regular;
    height: $map-marker-height--regular;
    transform: translate(calc(50% - 0.1rem), -50%); // `0.1rem` prevents potential gap between line and marker
  }
}

.map__interchanges {
  order: 1;
  justify-content: flex-end;
  margin-top: $spacer-3; // Ensure adjacent station interchanges never touch
  margin-bottom: $spacer-3; // Ensure adjacent station interchanges never touch
  padding-right: $map-spacing; // Very small phones only

  @include device-min(mobile) {
    padding-right: $map-spacing-mobile;
  }

  .map__zone-list-item:first-of-type .map__station-list-item:first-of-type & {
    margin-top: 0;
  }

  .map__zone-list-item:last-of-type .map__station-list-item:last-of-type & {
    margin-bottom: 0;
  }
}
