.menu__list {
  @extend %list-unstyled;
}

.menu__link {
  display: block;
  text-decoration: none;
  color: var(--color-menu-text);
  margin-left: $size-link-padding * -1;
  margin-right: $size-link-padding * -1;
  padding: $size-link-padding;

  &:active,
  &:focus,
  &:hover {
    color: var(--color-menu-text-hover);
  }
}
