.navigation-menu__collapsible {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-menu__subheading {
  margin-bottom: 0;
}

.navigation-menu__list {
  @extend %list-unstyled;

  .navigation-menu__list--individual-services & {
    margin-top: $spacer-global;
    margin-bottom: $spacer-global;
  }
}

.navigation-menu__link {
  display: block;
  text-decoration: none;
  color: var(--color-navigation-menu-text);
  margin-left: $link-padding * -1;
  margin-right: $link-padding * -1;
  padding: $link-padding;

  &:active,
  &:focus,
  &:hover {
    color: var(--color-navigation-menu-text-hover);
  }
}
