.navigation-header__list {
  @extend %list-unstyled;

  display: flex;
  margin-left: $navigation-header-link-padding-x * -1;
  margin-right: $navigation-header-link-padding-x * -1;
}

.navigation-header__link {
  display: block;
  margin-top: $navigation-header-link-margin-y;
  margin-bottom: $navigation-header-link-margin-y;
  padding: $navigation-header-link-padding-y $navigation-header-link-padding-x;
  text-decoration: none;
  color: var(--color-navigation-header-text);

  &:active,
  &:focus,
  &:hover {
    color: var(--color-navigation-header-text-hover);
  }
}
