.navigation-menu__list {
  @extend %list-unstyled;
}

.navigation-menu__link {
  display: block;
  text-decoration: none;
  color: var(--color-navigation-menu-text);
  margin-left: $link-padding * -1;
  margin-right: $link-padding * -1;
  padding: $link-padding;

  &:active,
  &:focus,
  &:hover {
    color: var(--color-navigation-menu-text-hover);
  }
}
