.page-footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: $navigation-primary-link-margin-y;
  margin-bottom: $navigation-primary-link-margin-y;
}
