.page-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: $size-page-footer-header-content-margin-y;
  margin-bottom: $size-page-footer-header-content-margin-y;
}
