.page {
  display: flex;
  flex-direction: column;
}

.page__header {
  color: var(--color-page-header-text);
  background-color: var(--color-page-header-background);
}

.page__main,
.page__aside {
  overflow-y: scroll;
  flex-grow: 1;
}

.page__main {
  scrollbar-gutter: stable both-edges; // Center content horizontally while accounting for desktop scrollbar
  color: var(--color-page-main-text);
  background-color: var(--color-page-main-background);
  transition:
    color $transition-constant, // Transition switch between themes
    background-color $transition-constant; // Transition switch between themes

  .page--menu-open & {
    display: none;
  }
}

.page__aside {
  display: none; // Default 'menu closed' state

  .page--menu-open & {
    color-scheme: dark; // Better desktop scrollbar presentation regardless of theme
    display: block;
    color: var(--color-page-aside-text);
    background-color: var(--color-page-aside-background);
  }
}

.page__footer {
  color: var(--color-page-footer-text);
  background-color: var(--color-page-footer-background);
}
