.pinned-services {
  margin-top: $size-list-spaced-margin-y;
  margin-bottom: $size-list-spaced-margin-y;
}

.pinned-services__list {
  @extend %bordered-box;
  @extend %list-unstyled;
}

.pinned-services__list-item {
  &:not(:last-of-type) {
    margin-bottom: $size-toggles-list-item-margin-bottom;
  }
}
