.pinned-services__list {
  @extend %list-unstyled;

  margin-top: $list-spaced-margin-y;
  margin-bottom: $list-spaced-margin-y;
}

.pinned-services__list-item {
  margin-left: $link-padding * -1;
  margin-right: $link-padding * -1;
  padding: $link-padding;
}
