@use 'sass:math';

.services-table {
  flex: 1 1 auto;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.services-table__cell {
  position: relative; // Required for `.services-table__link` %link-stretched
  width: 50%;
  vertical-align: middle;

  &--status {
    padding: $size-services-table-padding-y $size-services-table-padding-x;

    @include device-min(desktop) {
      padding-right: 0;
    }
  }
}

.services-table__links {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.services-table__link {
  display: flex;
  align-items: center; // Required for pinned icon
  justify-content: space-between; // Required for pinned icon
  padding: $size-services-table-padding-y $size-services-table-padding-x;
  text-decoration: none;
  color: inherit;

  &:active,
  &:focus,
  &:hover {
    color: inherit;
  }

  &--pinned {
    flex-shrink: 0;
  }

  &--service {
    flex-grow: 1;
  }
}

.services-table__status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
