.service {
  @extend %flex-column;
}

.service__heading {
  padding-left: $container-padding;
  padding-right: $container-padding;

  @include device-max(tablet) {
    margin-left: $container-padding * -1;
    margin-right: $container-padding * -1;
  }
}
