@use 'sass:math';

.services-table {
  width: 100%;
  min-height: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.services-table__cell {
  position: relative; // Required for `.services-table__link` %link-stretched
  width: 50%;
  vertical-align: middle;

  &--status {
    padding: $services-table-padding-y $services-table-padding-x;

    @include device-min(desktop) {
      padding-right: 0;
    }
  }
}

.services-table__link {
  @extend %link-stretched;

  display: block;
  padding: $services-table-padding-y $services-table-padding-x;
  text-decoration: none;
  color: inherit;

  &:active,
  &:focus,
  &:hover {
    color: inherit;
  }
}

.services-table__status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
