.service__heading {
  padding-left: $size-container-padding;
  padding-right: $size-container-padding;

  @include device-max(tablet) {
    margin-left: $size-container-padding * -1;
    margin-right: $size-container-padding * -1;
  }
}

.service__pinned-message {
  margin-top: $spacer-global;
}
