$spacer-status: $spacer-4;

.status {
  .view--service & {
    margin-bottom: $spacer-global;
  }

  .view--services & {
    margin-right: $spacer-status;
  }
}

.status__list {
  @extend %list-unstyled;
}

.status__list-item {
  display: flex;
  align-items: center;

  &:not(:first-of-type) {
    margin-top: $spacer-status;
  }

  .view--service & {
    padding: $spacer-global;
    color: var(--color-view-service-status-text);
    border-radius: $border-radius-generic;

    &--negative {
      background-color: var(--color-view-service-status-negative-background);
    }

    &--positive {
      background-color: var(--color-view-service-status-positive-background);
    }
  }

  .view--services & {
    &--negative {
      color: var(--color-view-services-status-negative-text);
    }

    &--positive {
      color: var(--color-view-services-status-positive-text);
    }
  }
}

.status__icon {
  flex: 0 0 auto;
  margin-right: $spacer-status;
}
