$spacer-status: $spacer-4;

.status {
  .view--home & {
    margin-right: $spacer-status;
  }

  .view--service & {
    margin-bottom: $spacer-global;
  }
}

.status__list {
  @extend %list-unstyled;
}

.status__list-item {
  display: flex;
  align-items: center;

  &:not(:first-of-type) {
    margin-top: $spacer-status;
  }

  &--negative {
    color: var(--color-status-negative-text);
  }

  &--positive {
    color: var(--color-status-positive-text);
  }
}

.status__icon {
  margin-right: $spacer-status;
}
