.table {
  width: 100%;
  border: $border-generic;
  border-collapse: collapse;

  th,
  td {
    padding: $table-padding-y $table-padding-x;
  }

  th {
    text-align: left;
    white-space: nowrap;
  }

  tr:nth-child(even) {
    background-color: $color-gray-100;
  }
}
