.table {
  width: 100%;
  border: $border-generic;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    background-color: var(--color-table-thead-background);
    border-bottom: $border-generic;
  }

  th,
  td {
    padding: $size-table-padding-y $size-table-padding-x;
  }

  th {
    text-align: left;
    white-space: nowrap;
  }

  &--striped {
    tr:nth-child(even) {
      background-color: var(--color-table-tr-even-background);
    }
  }
}
