*::selection {
  color: var(--color-selection-text);
  background-color: var(--color-selection-background);
}

body {
  font-family: $font-family;

  @include device-min(desktop) {
    font-size: 1.15em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: $font-size-6;
  margin-bottom: $spacer-global;
}

h2 {
  font-size: $font-size-5;
  margin-top: $spacer-global;
  margin-bottom: $spacer-global;
}

h3 {
  font-size: $font-size-4;
  margin-top: $spacer-global;
  margin-bottom: $spacer-global;
}

h4 {
  font-size: $font-size-3;
}

h5 {
  font-size: $font-size-2;
}

h6 {
  font-size: $font-size-1;
}

p {
  margin-bottom: $spacer-global;

  &:last-of-type {
    margin-bottom: 0;
  }
}

a {
  color: var(--color-link);
  text-decoration: underline;

  &[href] {
    border-radius: $border-radius-generic; // Makes keyboard focus state more attractive
    transition:
      color $transition-constant,
      box-shadow $transition-constant; // `box-shadow` required for keyboard navigation focus
  }

  &:active,
  &:focus,
  &:hover {
    color: var(--color-link-hover);
  }
}
