*::selection {
  color: var(--color-selection-text);
  background-color: var(--color-selection-background);
}

body {
  font-family: $font-family;
  font-weight: 400;

  @include device-min(desktop) {
    font-size: 1.15em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: $spacer-global;
}

%font-size-h1 {
  font-size: $font-size-6;
}

%font-size-h2 {
  font-size: $font-size-5;
}

%font-size-h3 {
  font-size: $font-size-4;
}

%font-size-h4 {
  font-size: $font-size-3;
}

%font-size-h5 {
  font-size: $font-size-2;
}

%font-size-h6 {
  font-size: $font-size-1;
}

h1,
.h1 {
  @extend %font-size-h1;
}

h2,
.h2 {
  @extend %font-size-h2;
}

h3,
.h3 {
  @extend %font-size-h3;
}

h4,
.h4 {
  @extend %font-size-h4;
}

h5,
.h5 {
  @extend %font-size-h5;
}

h6,
.h6 {
  @extend %font-size-h6;
}

p {
  margin-bottom: $spacer-global;

  &:last-of-type {
    margin-bottom: 0;
  }
}

a {
  color: var(--color-link);
  text-decoration: underline;

  &[href] {
    border-radius: $border-radius-generic; // Makes keyboard focus state more attractive
    transition:
      color $transition-constant,
      box-shadow $transition-constant; // `box-shadow` required for keyboard navigation focus
  }

  &:active,
  &:focus,
  &:hover {
    color: var(--color-link-hover);
  }
}
