@use 'sass:color';

$color-black: rgb(0 0 0);
$color-white: rgb(255 255 255);
$color-gray-900: rgb(24 24 27);
$color-gray-800: rgb(39 39 42);
$color-gray-700: rgb(63 63 70);
$color-gray-600: rgb(82 82 91);
$color-gray-500: rgb(113 113 122);
$color-gray-400: rgb(161 161 170);
$color-gray-300: rgb(212 212 216);
$color-gray-200: rgb(228 228 231);
$color-gray-100: rgb(244 244 245);
$color-dark: $color-gray-900;
$color-light: $color-gray-200;

/* stylelint-disable no-duplicate-selectors */

// Alert
:root {
  --color-alert-error-background: #{$color-state-error};
  --color-alert-error-text: #{$color-white};
  --color-alert-info-background: #{$color-state-info};
  --color-alert-info-text: #{$color-white};
}

// Base
:root {
  --color-body-background: #{$color-white};
  --color-body-text: #{$color-black};
}

// Border
:root {
  --color-border: #{$color-gray-200};
}

// Box
:root {
  --color-box-background: #{color.adjust($color-tfl-yellow, $lightness: 35%)};
  --color-box-text: #{$color-black};
}

// Button
:root {
  --color-button-menu-background: #{$color-black};
  --color-button-menu-border: #{$color-light};
  --color-button-menu-border-hover: #{$color-white};
  --color-button-menu-text: #{$color-light};
  --color-button-menu-text-hover: #{$color-white};
}

// Form Theme Switch
:root {
  --color-form-theme-switch-icon: #{$color-light};
  --color-form-theme-switch-icon-active: #{$color-light};
  --color-form-theme-switch-background: #{$color-gray-600};
  --color-form-theme-switch-border: #{$color-gray-600};
}

// Hr
:root {
  --color-hr-border: #{$color-gray-200};
}

// Loading
:root {
  --color-loading-icon: #{$color-gray-300};
}

// Navigation
:root {
  --color-navigation-menu-text: #{$color-light};
  --color-navigation-menu-text-hover: #{$color-white};
  --color-navigation-primary-text: #{$color-light};
  --color-navigation-primary-text-hover: #{$color-white};
}

// Page
:root {
  --color-page-aside-background: #{$color-gray-900};
  --color-page-aside-text: #{$color-light};
  --color-page-footer-background: #{$color-black};
  --color-page-footer-text: #{$color-light};
  --color-page-header-background: #{$color-black};
  --color-page-header-text: #{$color-light};
  --color-page-main-background: #{$color-white};
  --color-page-main-text: #{$color-black};
}

// Status
:root {
  --color-status-negative-text: #{$color-state-error};
  --color-status-positive-text: #{$color-state-info};
}

// Typography
:root {
  --color-font-dark: #{$color-black};
  --color-font-light: #{$color-light};
  --color-link: var(--color-primary);
  --color-link-hover: var(--color-primary-hover);
  --color-primary: #{$color-tfl-blue};
  --color-primary-hover: #{color.adjust($color-tfl-blue, $lightness: 10%)};
  --color-selection-background: #{$color-tfl-blue};
  --color-selection-text: #{$color-white};
}

[data-theme='dark'] {
  * {
    color-scheme: dark;
  }

  // Base
  --color-body-background: #{$color-black};
  --color-body-text: #{$color-light};

  // Box
  --color-box-background: #{$color-gray-800};
  --color-box-text: #{$color-light};

  // Form Theme Switch
  --color-form-theme-switch-background: #{$color-gray-700};
  --color-form-theme-switch-border: #{$color-gray-700};

  // Hr
  --color-hr-border: #{$color-gray-700};

  // Loading
  --color-loading-icon: #{$color-gray-700};

  // Page
  --color-page-main-background: #{$color-gray-900};
  --color-page-main-text: #{$color-light};

  // Status
  --color-status-negative-text: #{color.adjust($color-state-error, $lightness: 5%)}; // 5% lightness required to pass accessibility contrast ratio
  --color-status-positive-text: #{$color-light};

  // Typography
  --color-link: #{color.adjust($color-tfl-blue, $lightness: 40%)};
  --color-link-hover: #{color.adjust($color-tfl-blue, $lightness: 50%)};
}

/* stylelint-enable no-duplicate-selectors */
