@use 'sass:map';

$color-tfl-blue: rgb(0 15 159);
$color-tfl-red: rgb(225 37 27);
$color-tfl-yellow: rgb(255 205 0);
$color-tfl-green: rgb(0 121 52);
$color-tfl-black: rgb(0 0 0);
$color-tfl-white: rgb(255 255 255);
$color-tfl-gray: rgb(123 134 140);
$color-tfl-dark-gray: rgb(50 62 72);

$color-tfl-bakerloo: rgb(166 90 42);
$color-tfl-central: rgb(225 37 27);
$color-tfl-circle: rgb(255 205 0);
$color-tfl-district: rgb(0 121 52);
$color-tfl-hammersmith-city: rgb(236 155 173);
$color-tfl-jubilee: rgb(123 134 140);
$color-tfl-metropolitan: rgb(135 15 84);
$color-tfl-northern: rgb(0 0 0);
$color-tfl-piccadilly: rgb(0 15 159);
$color-tfl-victoria: rgb(0 160 223);
$color-tfl-waterloo-city: rgb(107 205 178);

$color-tfl-liberty: rgb(97 104 107);
$color-tfl-lioness: rgb(255 166 0);
$color-tfl-mildmay: rgb(0 111 230);
$color-tfl-suffragette: rgb(24 169 93);
$color-tfl-weaver: rgb(155 0 88);
$color-tfl-windrush: rgb(220 36 31);

$color-tfl-dlr: rgb(0 175 170);
$color-tfl-elizabeth: rgb(119 61 189);
$color-tfl-tram: rgb(118 188 33);
$color-tfl-river-bus: rgb(0 160 223);

$brands: (
  'bakerloo': (
    colorBackground: $color-tfl-bakerloo,
    colorBorder: $color-tfl-bakerloo,
    colorText: $color-tfl-white,
  ),
  'central': (
    colorBackground: $color-tfl-central,
    colorBorder: $color-tfl-central,
    colorText: $color-tfl-white,
  ),
  'circle': (
    colorBackground: $color-tfl-circle,
    colorBorder: $color-tfl-circle,
    colorText: $color-tfl-black,
  ),
  'district': (
    colorBackground: $color-tfl-district,
    colorBorder: $color-tfl-district,
    colorText: $color-tfl-white,
  ),
  'hammersmith-city': (
    colorBackground: $color-tfl-hammersmith-city,
    colorBorder: $color-tfl-hammersmith-city,
    colorText: $color-tfl-black,
  ),
  'jubilee': (
    colorBackground: $color-tfl-jubilee,
    colorBorder: $color-tfl-jubilee,
    colorText: $color-tfl-white,
  ),
  'metropolitan': (
    colorBackground: $color-tfl-metropolitan,
    colorBorder: $color-tfl-metropolitan,
    colorText: $color-tfl-white,
  ),
  'northern': (
    colorBackground: $color-tfl-northern,
    colorBorder: $color-tfl-northern,
    colorText: $color-tfl-white,
  ),
  'piccadilly': (
    colorBackground: $color-tfl-piccadilly,
    colorBorder: $color-tfl-piccadilly,
    colorText: $color-tfl-white,
  ),
  'victoria': (
    colorBackground: $color-tfl-victoria,
    colorBorder: $color-tfl-victoria,
    colorText: $color-tfl-white,
  ),
  'waterloo-city': (
    colorBackground: $color-tfl-waterloo-city,
    colorBorder: $color-tfl-waterloo-city,
    colorText: $color-tfl-black,
  ),
  'liberty': (
    colorBackground: $color-tfl-liberty,
    colorBorder: $color-tfl-liberty,
    colorText: $color-tfl-white,
  ),
  'lioness': (
    colorBackground: $color-tfl-lioness,
    colorBorder: $color-tfl-lioness,
    colorText: $color-tfl-black,
  ),
  'mildmay': (
    colorBackground: $color-tfl-mildmay,
    colorBorder: $color-tfl-mildmay,
    colorText: $color-tfl-white,
  ),
  'suffragette': (
    colorBackground: $color-tfl-suffragette,
    colorBorder: $color-tfl-suffragette,
    colorText: $color-tfl-white,
  ),
  'weaver': (
    colorBackground: $color-tfl-weaver,
    colorBorder: $color-tfl-weaver,
    colorText: $color-tfl-white,
  ),
  'windrush': (
    colorBackground: $color-tfl-windrush,
    colorBorder: $color-tfl-windrush,
    colorText: $color-tfl-white,
  ),
  'dlr': (
    colorBackground: $color-tfl-dlr,
    colorBorder: $color-tfl-dlr,
    colorText: $color-tfl-white,
  ),
  'elizabeth': (
    colorBackground: $color-tfl-elizabeth,
    colorBorder: $color-tfl-elizabeth,
    colorText: $color-tfl-white,
  ),
  'tram': (
    colorBackground: $color-tfl-tram,
    colorBorder: $color-tfl-tram,
    colorText: $color-tfl-white,
  ),
);

@each $key, $value in $brands {
  .brand-background--id-#{$key} {
    color: map.get($value, colorText);
    background-color: map.get($value, colorBackground);
    border-color: map.get($value, colorBorder);
  }
}

.brand-background--mode-bus {
  color: $color-tfl-white;
  background-color: $color-tfl-red;
  border-color: $color-tfl-red;
}

.brand-background--mode-national-rail {
  color: $color-tfl-white;
  background-color: $color-tfl-blue;
  border-color: $color-tfl-blue;
}

.brand-background--mode-river-bus {
  color: $color-tfl-white;
  background-color: $color-tfl-river-bus;
  border-color: $color-tfl-river-bus;
}
