@use 'sass:map';

$color-tfl-blue: rgb(0 15 159);
$color-tfl-red: rgb(225 37 27);
$color-tfl-yellow: rgb(255 205 0);
$color-tfl-green: rgb(0 121 52);
$color-tfl-black: rgb(0 0 0);
$color-tfl-white: rgb(255 255 255);
$color-tfl-gray: rgb(123 134 140);
$color-tfl-dark-gray: rgb(50 62 72);

$color-tfl-bakerloo: rgb(166 90 42);
$color-tfl-central: rgb(225 37 27);
$color-tfl-circle: rgb(255 205 0);
$color-tfl-district: rgb(0 121 52);
$color-tfl-hammersmith-city: rgb(236 155 173);
$color-tfl-jubilee: rgb(123 134 140);
$color-tfl-metropolitan: rgb(135 15 84);
$color-tfl-northern: rgb(0 0 0);
$color-tfl-piccadilly: rgb(0 15 159);
$color-tfl-victoria: rgb(0 160 223);
$color-tfl-waterloo-city: rgb(107 205 178);

$color-tfl-dlr: rgb(0 175 170);
$color-tfl-elizabeth: rgb(119 61 189);
$color-tfl-overground: rgb(238 118 35);
$color-tfl-tram: rgb(118 188 33);

$brands: (
  'bakerloo': (
    colorBrand: $color-tfl-bakerloo,
    colorText: $color-tfl-white,
  ),
  'central': (
    colorBrand: $color-tfl-central,
    colorText: $color-tfl-white,
  ),
  'circle': (
    colorBrand: $color-tfl-circle,
    colorText: $color-tfl-black,
  ),
  'district': (
    colorBrand: $color-tfl-district,
    colorText: $color-tfl-white,
  ),
  'hammersmith-city': (
    colorBrand: $color-tfl-hammersmith-city,
    colorText: $color-tfl-black,
  ),
  'jubilee': (
    colorBrand: $color-tfl-jubilee,
    colorText: $color-tfl-white,
  ),
  'metropolitan': (
    colorBrand: $color-tfl-metropolitan,
    colorText: $color-tfl-white,
  ),
  'northern': (
    colorBrand: $color-tfl-northern,
    colorText: $color-tfl-white,
  ),
  'piccadilly': (
    colorBrand: $color-tfl-piccadilly,
    colorText: $color-tfl-white,
  ),
  'victoria': (
    colorBrand: $color-tfl-victoria,
    colorText: $color-tfl-black,
  ),
  'waterloo-city': (
    colorBrand: $color-tfl-waterloo-city,
    colorText: $color-tfl-black,
  ),
  'dlr': (
    colorBrand: $color-tfl-dlr,
    colorText: $color-tfl-white,
  ),
  'elizabeth': (
    colorBrand: $color-tfl-elizabeth,
    colorText: $color-tfl-white,
  ),
  'london-overground': (
    colorBrand: $color-tfl-overground,
    colorText: $color-tfl-black,
  ),
  'tram': (
    colorBrand: $color-tfl-tram,
    colorText: $color-tfl-white,
  ),
);

@each $key, $value in $brands {
  .brand-background--id-#{$key} {
    color: map.get($value, colorText);
    background-color: map.get($value, colorBrand);
  }
}

.brand-background--mode-bus {
  color: $color-tfl-white;
  background-color: $color-tfl-red;
}

.brand-background--mode-national-rail {
  color: $color-tfl-white;
  background-color: $color-tfl-blue;
}
