$device-mobile: 488px;
$device-tablet: 600px;
$device-desktop: 1024px;

@mixin device-min ($breakpoint) {
  @if $breakpoint == mobile {
    @media only screen and (min-width: $device-mobile) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (min-width: $device-tablet) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media only screen and (min-width: $device-desktop) {
      @content;
    }
  }
}

@mixin device-max ($breakpoint) {

  @if $breakpoint == mobile {
    @media only screen and (max-width: ($device-tablet - 0.2)) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: ($device-desktop - 0.2)) {
      @content;
    }
  }
}

@mixin device-pointer () {
  @media (pointer: fine) {
    @content;
  }
}
