*,
*::before,
*::after {
  box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figure,
input,
p {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizelegibility;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button,
input,
select,
textarea {
  font: inherit;
}
